/* Variables */ /*Colors*/
/*Shadows*/
/*Padding,margines and gaps*/
body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  display: flex;
  margin: auto;
}

.section {
  padding: 60px 15px;
  margin: auto;
}

/*Header*/
.header {
  border-bottom: 1px #ECECEC solid;
  /*Container*/
  /*----------*/
  /*Logo*/
  /*----------*/
  /*Menu button*/
  /*----------*/
}
.header__container {
  justify-content: space-between;
  align-items: center;
  padding: 16px 15px;
}
.header__logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}
.header__logo--dark {
  color: #212121;
}
.header__logo--light {
  color: #FFFFFF;
}
.header__menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.header__menu-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.header__menu-icon:hover {
  fill: #2196F3;
}

/*Mobile menu*/
/*Container*/
.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-color: #FFFFFF;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

/*----------*/
.menu {
  /*Mobile menu close button*/
  /*----------*/
  /*Mobile menu navigation*/
  /*----------*/
  /*Mobile menu contact*/
  /*----------*/
  /*Mobile menu social*/
}
.menu__close-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 21px;
  right: 21px;
}
.menu__close-icon {
  width: 19px;
  height: 19px;
  fill: currentColor;
}
.menu__close-icon:hover {
  fill: #2196F3;
}
.menu__navigation-item:not(:last-child) {
  margin-bottom: 36px;
}
.menu__navigation-link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02;
}
.menu__navigation-link:hover {
  color: #2196F3;
}
.menu__contact-list {
  margin-bottom: 64px;
}
.menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}
.menu__contact-link {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
}
.menu__contact-link--accent {
  color: #2196F3;
  font-size: 34px;
  font-weight: 500;
}
.menu__social-list {
  display: flex;
  flex-direction: row;
}
.menu__social-item:not(:last-child) {
  border-right: 2px #ECECEC solid;
  padding-right: 10px;
}
.menu__social-item:not(:first-child) {
  padding-left: 10px;
}
.menu__social-link {
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
}

.banner {
  max-width: 1600px;
  width: auto;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 178px 58px;
}
.banner__container {
  flex-direction: column;
  gap: 30px;
}
.banner__title {
  max-width: 365px;
  margin: auto;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.banner__button {
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  max-width: 200px;
  max-height: 50px;
  letter-spacing: 0.06rem;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 41px;
  margin: auto;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features__item {
  flex-basis: 100%;
}
.features__icon {
  background-color: #F5F4FA;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.features__item-title {
  font-size: 14px;
  font-weight: 700px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.features__paragraph {
  color: #757575;
  letter-spacing: 0.03rem;
}

.team {
  background-color: #F5F4FA;
}
.team__container {
  display: flex;
  flex-direction: column;
}
.team__title {
  font-size: 28px;
  font-weight: 700px;
  letter-spacing: 0.02em;
  line-height: 1.17;
  margin: auto;
  margin-bottom: 30px;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}
.team__item {
  background-color: white;
  flex-basis: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 24px;
}
.team__thumb {
  width: 100%;
  margin-bottom: 30px;
}
.team__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__name {
  font-size: 16px;
  font-weight: 500px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team__position {
  color: #757575;
  margin-bottom: 16px;
}
.team__socials-icon {
  display: inline-block;
  fill: #AFB1B8;
  width: 44px;
  height: 44px;
  padding: 12px;
}
.team__socials-icon:hover, .team__socials-icon:active {
  fill: #FFFFFF;
  background-color: #2196F3;
  border-radius: 50%;
}
.team__socials-icon:not(:last-child) {
  margin-right: 10px;
}

.clients__container {
  justify-content: center;
}
.clients__title {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.17;
  margin-bottom: 30px;
}
.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
.clients__link {
  color: #AFB1B8;
  display: flex;
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
}
.clients__link:hover, .clients__link:active {
  color: #2196F3;
}
.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
  margin: 16px auto;
}/*# sourceMappingURL=main.css.map */