.clients{
    &__container{
        justify-content: center;
        flex-direction: column;
    }

    &__title{
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: 1.17;
        margin-bottom: $main-gap;
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $main-gap;
    }

        

    &__item{
        flex-basis: calc((100% - $main-gap) / 2);
    }

    @media screen and (min-width: 768px) and (max-width: 11px) {
        &__item {
            flex-basis: calc((100% - (2 * $main-gap)) / 3);
        }
        
    }

    @media screen and (min-width: 1200px) {
        &__item {
            flex-basis: calc((100% - (5 * $main-gap)) / 6);
        }
        
    }

    &__link{
        color: $icon-fill;
        display: flex;
        border: 1px solid;  
        border-radius: 4px;
        width: 100%;
        transition: color $main-animation;

        &:hover,
        &:active{
            color: $accent-color;
        }

    }

    &__icon{
        fill: currentColor;
        width: 106px;
        height: 60px;
        margin: 16px auto;
    }
}

