.footer{
    background-color: $footer-background-color;

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    &__section{
        padding: $small-padding 15px;
    }

    @media screen and (min-width: 768px) {
        &__container {
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;   
            }
    }

    @media screen and (min-width: 1200px) {
        &__container {
                flex-wrap: nowrap;   
            }
    }

    &__logo{
        display: block;
        color: $accent-color;
        font-family: "Raleway", sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 27px;
         
        &--light {
            color: $white-color;
        }
    }

    /*Contact*/

    &__contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 768px) {
        &__contact {
                flex-basis: 50%
            }
    }

    &__contact-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    &__contact-address{
        font-style: normal;
        color: $white-color;
        letter-spacing: 0.03em;
    }

    &__contact-link{
        color: $footer-contact-link-color;
        letter-spacing: 0.03em;
    }

    /*Socials*/

    &__socials{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 768px) {
        &__socials {
                flex-basis: 50%
            }
    }

    &__socials-title{
        text-transform: uppercase;
        color: $white-color;
        font-weight: 700;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
    }

    &__socials-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__socials-link{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white-color;
        width: 44px;
        height: 44px;
        background-color: $footer-social-icon-backgound-color;
        border-radius: 50%;
        transition: background-color $main-animation;

        &:active,
        &:hover{
            background-color:$accent-color;
        }
    }

    &__socials-icon{
        fill: currentColor;
        width: 20px;
        height: 20px;
    }

    /*Follow*/
    &__follow{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__follow-title{
        text-transform: uppercase;
        color: $white-color;
        font-weight: 700;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
    }

    &__follow-form{
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 20px;
    }

    @media screen and (min-width: 768px) {
        &__follow-form{
            max-width: 450px;
        }
    }

    @media screen and (min-width: 1200px) {
        &__follow-form{
            flex-direction: row;
            max-width: 570px;
            column-gap: 12px;
        }
    }


    &__follow-input{
        font-size: 16px;
        letter-spacing: 0.03em;
        color: $footer-follow-color;
        background-color: transparent;
        border: 1px $footer-follow-border-color solid;
        border-radius: 4px;
        height: 50px; 
        padding: 15px;
        
        &::placeholder{
            font-size: 16px;
            color: $footer-follow-color;
            letter-spacing: 0.03em;
        }

        &:focus{
            outline: $accent-color;
            border: 1px $accent-color solid;
        }
      
    }

    @media screen and (min-width: 1200px) {
        &__follow-input{
            width: 358px;
        }
    }

    &__follow-button{
        color: $white-color;
        background-color: $accent-color;
        border-color: transparent;
        border-radius: 4px;
        width: 200px;
        height: 50px;
        box-shadow: $footer-follow-button-shadow;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.06em;
        margin: auto;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        column-gap:24px;
        
    }

    &__follow-icon{
        fill: currentColor;
        width: 24px;
        height: 24px;
    }

}