/*Header*/

.header{
    border-bottom: 1px $header-border-color solid;
    
    /*Container*/
    &__container{
        justify-content: space-between;
        align-items: center;
        padding: 16px 15px;
    }
    /*----------*/
    
    /*Logo*/
    &__logo{
        color: $accent-color;
        font-family: "Raleway", sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-transform: capitalize;

        &--dark{
            color: $main-color;
        }
    }
    /*----------*/

    /*Menu button*/

    &__menu-button{
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    &__menu-icon{
        display: block;
        width: 24px;
        height: 24px;
        fill: currentColor;
        transition: fill $main-animation;

        &:hover{
            fill: $accent-color;
        }
    }
    /*----------*/
}

