.modal{
    background-color: $modal-overlay-color;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    
    &__overlay{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__window{
        position: relative;
        background-color: $white-color;
        border-radius: 4px;
        min-width: 320px;
        max-width: 450px;
    }

    @media screen and (min-width: 768px) {
        &__window{
            max-width: 528px;
            max-height: 581px;
        }
    }

        &__close-button {
            position: absolute;
            top: 8px;
            right: 8px;
            background: transparent;
            border: 1px $modal-close-button-border-color solid;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            transition: color $main-animation;
    
            &:hover {
                color: $accent-color;
            }
        }
    
        &__close-icon {
            fill: currentColor;
            width: 11px;
            height: 11px;
        }

    }

