.submit-form{
    padding: 40px;
    display: flex;
    flex-direction: column;
   
    &__title{
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 12px;
    }

    &__inside-wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    &__item{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__label{
        font-size: 12px;
        line-height: 1.16 ;
        color: $secondary-color;
    }

    &__input{
        padding-left: 40px;
        height: 40px;
        border-radius: 4px;
        border: 1px $submit-form-border-color solid;

        &:focus{
            outline: $accent-color;
            border: 1px $accent-color solid;
        }

        &:focus + .submit-form__icon{
            fill: $accent-color;
        }
    }

    &__icon{
        fill: currentColor;
        width: 18px;
        height: 18px;
        position: absolute;
        bottom: 11px;
        left: 11px;
    }

    &__textarea{
        font-size: 14px;
        height: 120px;
        padding: 12px 16px;
        resize: none;
        border-radius: 4px;
        border: 1px $submit-form-border-color solid;

        &:focus{
            outline: $accent-color;
            border: 1px $accent-color solid;
        }

        &::placeholder{
            font-size: 14px; 
            color: $submit-form-placeholder-color;
            line-height: 1.15;
        }
    }
    &__check-item{
        display: flex;
        align-items: baseline;
        gap: 8px;
        margin-bottom: 30px;     
        position: relative;
    }

    &__checkbox{
        opacity: 0%;
        cursor: pointer;
        position: relative;
        z-index: 1;

        &:checked + .submit-form__checkbox-icon{
            background-color: $accent-color;
            border-color: $accent-color;
            fill: $white-color;
        }
        
    }

    &__checkbox-icon{
        fill: none;
        width: 16px;
        height: 16px;
        border: 2px $main-color solid;
        border-radius: 2px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
    }

    &__agremment-text{
        font-size: 12px;
        line-height: 1.16 ;
        color: $secondary-color;
        overflow: hidden;
    }

    &__agremment_link{
        color: $accent-color;
        text-decoration: underline;

    }

    &__button{
        color: $white-color;
        background-color: $accent-color;
        border-color: transparent;
        border-radius: 4px;
        width: 200px;
        height: 50px;
        box-shadow: $footer-follow-button-shadow;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.06em;
        margin: auto;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        column-gap:24px;
    }

    
}